<h1>Still Open...</h1>

<table class="results-table">
  <tr>
    <th>Name</th>
    <th>Distance from you</th>
  </tr>
  <tr>
    <td>Bob's Greasy Chicken Shack</td>
    <td>75.8 miles</td>
  </tr>
    <tr>
    <td>Will's Disgusting Food</td>
    <td>75.9 miles</td>
  </tr>

</table>
