<h1>Still Open...</h1>


  <table class="results-table">
    <tr>
      <th>Name</th>
      <th>Distance from you</th>
    </tr>
    <% @results.each do |result| %>
      <tr>
        <% if result.open == true %>
          <td><%= result.name %></td>
          <td><%= result.distance %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
