          <h1>Still Open...</h1>

<div class="container">
  <table class="table table-bordered table-hover">
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Distance from you</th>
      <th class="text-left">Closes at</th>
      <th class="text-left">Map</th>
    </tr>

    <% @results.sort_by { |result| result[:distance] || 0 }.each do |result| %>
      <tr>
        <% if result.open == true %>
          <td><%= result.name %></td>
          <td><%= result.distance %> miles</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

