body {
  background-image: image-url("https://s3.amazonaws.com/aftermidnight/aftermidnightlogo.jpg");
  background-size: cover;
}

.navbar {
  background-color: black;
  color: white;
  font-size: 1.2em;

  .brand {
    background-image: image-url("https://s3.amazonaws.com/aftermidnight/aftermidnightlogo.png");
    background-size: cover;
  }
}

p {
  color: red;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: red;
}

#title {
  font-weight: bold;
  margin: 16px 0;
  padding: 10px;
  width: 100%;
}

h3 {
  font-weight: bold;
  text-align: center;
}

.main-body-container {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 70vh;
}

.main-title {
  font-size: 90px;
}

#signup {
  text-align: center;
}

.flash-error {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.flash-alert {
  color: green;
  text-align: center;
  font-size: 18px;
  margin-top: 1em;
}

.flash-notice {
  color: orange;
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}

.flash-success {
  text-align: center;
  color: blue;
  font-size: 18px;
  margin-top: 1em;
}

.btn {
  color: gray;
  text-align: center;
}

table {
  background-color: white;
}

td {
  background-color: rgba(255, 255, 255, .5);
}

th {
  text-align: center;
}

.about {
  background-color: #e3e3e3;
  border: 2px solid #6699ff;
  border-radius: 20px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  min-height: 20px;
  padding: 50px;
  width: 600px;
}

footer {
  background-color: black;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  height: 60px;
  padding: 15px;
  position: relative;
  width: 100%;

  a {
    color: white;
    font-size: 1.3em;
    margin-right: 15px;
  }

  small {
    background-color: white;
    text-color: white;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
  }

  ul {
    float: right;
    text-decoration: underline;
  }
}