<footer class="footer">
	<small>
		The After Midnight site; voted "Best App Ever Made" by every technology magazine ever.  By:<br/> Adam Smith
	</small>
	<nav>
		<ul>
			<%= link_to "About", about_path %>
		</ul>
	</nav>
</footer>